<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link href="/jpetstore/css/shopping.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/jpetstore/js/MyOrder.js" type="text/javascript"></script>
</head>
<body>
<!-- 头部 -->
<header class="site-header site-mini-header">
    <div class="container">
        <!--logo -->
        <div class="header-logo">
            <a class="logo ir" href="/jpetstore"></a>
        </div>
        <!-- 标题 -->
        <div class="header-title has-more" id="J_miniHeaderTitle">
            <h2>我的订单</h2>
            <p>点击订单编号查看详情</p>
        </div>
        <div class="topbar-info" id="J_userInfo">
            <a class="link link-order" href="/jpetstore/MyCart.html" rel="nofollow">我的购物车</a>
        </div>
    </div>
</header>
<!-- 商品内容 -->
<section class="page-main">
    <div class="container">
        <div class="cart-goods-list" id="J_cartListGoods">
            <div class="list-head myclear" data-checked="false">
                <div class="col col-price" style="width: 300px">订单编号</div>
                <div class="col col-name" style="padding-left: 40px;width: 300px">下单时间</div>
                <div class="col col-price" style="padding-left: 80px">总金额</div>
                <div class="col col-total" style="margin-left: 140px">状态</div>
            </div>
            <div id="wapper"></div>
        </div>
        <h2 class="xm-recommend-title"><span id="J_span">已经到底啦！</span></h2>
    </div>
</section>
</body>
</html>