<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>详情</title>
	<link rel="stylesheet" href="/jpetstore/css/orderSubmit.css">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="/jpetstore/js/OrderDetails.js"></script>
</head>
<body>
<div class="order_head">
	<div class="head_background">
		<div class="head_box">
			<a href="/jpetstore" class="head_left_a"><img src="/jpetstore/image/header/logo.png" alt="" class="head_left_p"></a>
			<h1 class="head_h1">订单详情</h1>
			<div class="head_right">
				<a href="/jpetstore/MyOrder.html" class="head_right_in">返回订单列表</a>
			</div>
		</div>
	</div>
</div>
	<div class="order_body">
		<div class="order_body_background">
			<!-- 订单号-->
			<div class="order_line order_line_bordtr">
				<div class="order_lien_in">
					<h3 class="order_title">订单编号</h3>
				</div>
				<div class="order_lien_in">
					<p class="order_PStime" id="orderId" style="font: 18px 'Microsoft YaHei'"></p>
				</div>
			</div>
			<!-- 下单时间-->
			<div class="order_line order_line_bordtr">
				<div class="order_lien_in">
					<h3 class="order_title">下单时间</h3>
				</div>
				<div class="order_lien_in">
					<p class="order_PStime" id="orderTime" style="font: 18px 'Microsoft YaHei'"></p>
				</div>
			</div>
			<!-- 支付方式-->
			<div class="order_line order_line_bordtr">
				<div class="order_lien_in">
					<h3 class="order_title">支付方式</h3>
				</div>
				<div class="order_lien_in">
					<p class="order_PStime" id="payMethod" style="font: 18px 'Microsoft YaHei'"></p>
				</div>
			</div>
			<!-- 商家编号-->
			<div class="order_line order_line_bordtr">
				<div class="order_lien_in">
					<h3 class="order_title">商家编号</h3>
				</div>
				<div class="order_lien_in">
					<p class="order_PStime" id="supplierId" style="font: 18px 'Microsoft YaHei'"></p>
				</div>
			</div>
			<!--收货地址-->
			<div class="order_line">
				<div class="order_lien_in order_in">
					<h3 class="order_title">收货地址</h3>
				</div>
				<div class="order_lien_in"></div>
			</div>
			<div class="order_box" id="adr_list">
				<a class="order_box_in" id="address_box" style="margin-left: 110px"></a>
			</div>
			<!--商品清单-->
			<div class="order_line order_line_bordtr">
				<div class="order_lien_in">
					<h3 class="order_title">宠物清单</h3>
				</div>
				<div class="order_lien_in"></div>
			</div>
			<div class="order_line order_line_bordtr">
				<p class="order_price" style="margin-top: 20px;width: 200px;padding-left: 40px">宠物</p>
				<p class="order_price" style="margin-top: 20px;width: 200px;margin-left: 100px">金额</p>
			</div>
			<div id="order_item">

			</div>
			<!-- 总金额-->
			<div class="order_line order_line_bordtr">
				<div class="order_lien_in">
					<p class="order_price_11"><br>应付总额:</p>
				</div>
				<div class="order_price1">
					<p class="order_price_2">
						<span id="cost" style="font-size: 35px"></span>元
					</p>
				</div>
			</div>
			<!-- 返回订单列表-->
			<div class="pay">
				<a href="/jpetstore/MyOrder.html" class="pay_a" id="order_submit">返回订单列表</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>