*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all input{
    outline: none;
}

.all input:focus{
    color: #404040;
}

input:focus::placeholder{
    opacity: 0;
}


.all{
    display: flex;
    background: linear-gradient(to right,#9a9b9d,#404040);
    width: 100%;
    height: 800px;
    margin: auto;
}

.box{
    height:80%;
    width:70%;
    display: flex;
    position: relative;
    margin: auto;
    border: 1px solid rgba(255,255,255, .6);
    border-radius: 8px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}

.pre-box{
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(128,128,130);
    box-shadow:1px 1px 1px rgba(0, 0, 0, 1) ;
    transition: 0.5s ease-in-out;
}

.pre-box h1{
    margin-top: 150px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.pre-box p{
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color:white;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}

.img-box{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

}
.img-box img{

    transition: 0.5s;
}

.vf img{
    width: 100%;
}


.login-form,.register-form{
    flex: 1;
    height: 100%;
}

.title-box{
    height: 100px;
    line-height: 300px;
}

.title-box h1{
    margin-top: 100px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vf{
    display: flex;
    align-items: center;
    width: 60%;
}

.all input{
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    text-indent: 4px;
    border: 1px solid #404040;
    border-radius: 4px;
}

.btn-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{

    width: 100px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #404040;
    color: white;
    margin-top: 10px;
    margin-bottom: 3px;

}
button:hover{
    cursor: pointer;
    opacity: .8;
}

.btn-box p{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: white;
}
.btn-box p:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
