.header {
    height: 13%;
    width: 100%;
    border: 1px solid black;
    /* background-color: aqua; */

    top: 0;
    display: flex;
    margin: 0;
    background-color: #ffd8d8;
}

.header .logo {
    margin-top: 2px;
    margin-left: 7%;
    height: 90%;
    width: 20%;
    /* border:1px solid black; */
    display: flex;
}

.header .logo .logoImg {
    margin-left: 2px;
    margin-top: 2px;
    height: 90%;
    width: 5%;
    /* border:1px solid black; */
}


.header .logo .logoName {
    margin-left: 24px;
    margin-top: 2px;
    height: 90%;
    width: 95%;
    /* border:1px solid black; */

}


.header .top-cover .tb {
    display: table;
    width: 100%;
}

.header .top-cover .td {
    display: table-cell;
    vertical-align: middle;
}

.header .top-cover .td input,
.header .top-cover .td button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.header .top-cover {
    /* position: absolute; */
    top: 50%;
    left: 0;
    right: 0;
    width: 1100px;
    height: 105px;
    padding-left: 30px;
    padding-top: 5px;
    /* padding-left: 100px; */
    margin: -10px auto 0 30px;
    background-color: #ff7575;
    border-radius: 20px;
    /* box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb; */
    transform: scale(0.6);
}

.header .top-cover form {
    height: 56px;
}

.header .top-cover .tb .td input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

.header .top-cover .tb .td input[type="text"]::placeholder {
    color: #e16868;
}

.header .top-cover #s-cover {
    width: 1px;
    padding-left: 35px;
}

.header .top-cover button {
    position: relative;
    display: block;
    width: 100px;
    height: 96px;
    cursor: pointer;
}

.header .top-cover #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    /*border-width: 15px;*/
    border: 35px solid #FFFFFF;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.header .top-cover button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.header .top-cover button span:before,
.header .top-cover button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

.header .top-cover #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

.header .top-cover #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

.header .top-cover #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

.header .top-cover #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

.header .top-cover #s-cover:hover button span:before,
.header .top-cover #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

.header .top-right {
    margin-left: 50px;
    margin-top: 8px;
    /*border: 1px solid black;*/
    /* background-color: #e16868; */
    width: 20%;
    height: 80%;
    padding-top: 20px;
}

.header .logoName .gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;

    /* Create the gradient. */
    background-image: linear-gradient(
            45deg,
            #CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}


.header .logoName h1 {
    margin-top: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin-bottom: -0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 100%;
}

#productAutoComplete {
    /*这个地方是先不显示*/
    display: none;
    background: white;
    position: relative;
    top: 5px;
    left: 0;
    width: 720px;
    font-size: 40px;
}

.productAutoList {
    margin: 0;
    padding: 0;
}

.productAutoItem {
    list-style: none;
    text-align: left;
    padding-left: 30px;
    border-bottom: solid 1px black;
    cursor: pointer;
}