/* 重置页面 */
@import url("reset.css");

.wrap {
    font-size: 14px;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
}

a {
    color: #757575;
}

/* 标题 */
.header-wrap,
.layout_panel {
    width: 1130px;
    margin: 0 auto;
}

.header-wrap .header-logo {
    width: 200px;
    height: 98px;
    padding-top: 20px;
    background-color: #FF6700;
}

/* 主要内容 */
.main-wrap {
    width: 100%;
    height: 588px;
    background-image: url(../image/login/back.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.main-wrap .mian-content {
    position: absolute;
    right: 9%;
    bottom: 44px;
    background-color: #fff;
    width: 410px;
    min-height: 500px;
    font-size: 14px;
}

.nav_tabs {
    padding: 16px 0 5px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

.nav_tabs a:hover,
.nav_tabs a.now {
    color: #f56600;
}

.line {
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
}

/* 帐号登录 */
.login_area {
    width: 348px;
    margin: 0 auto;
}

.item_account {
    height: 50px;
    width: 346px;
    color: #4a4a4a;
    border: 1px solid #e0e0e0;
    padding: 13px 16px 13px 14px;
    display: block;
    margin-top: 13px;
}

.code_input {
    float: left;
    height: 50px;
    width: 200px;
    color: #4a4a4a;
    border: 1px solid #e0e0e0;
    padding: 13px 16px 13px 14px;
    display: block;
    margin-top: 13px;
}

.code_link {
    height: 50px;
    border: 1px solid #e0e0e0;
    display: block;
    margin-top: 13px;
}

.code_img {
    height: 49px;
}

.btnadpt {
    background-color: #ff6700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin-top: 24px;
    line-height: 50px;
    margin-bottom: 14px;
}

.err_tip {
    margin-top: 14px;
    line-height: 20px;
    color: #ff6700;
    margin-bottom: -8px;
    display: block;
}

.icon_error {
    width: 14px;
    height: 14px;
    margin: -3px 5px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/login/sprite_login.gif) no-repeat;
    background-position: 0 -69px;
}

.other_panel .login_type_link {
    float: left;
}

.other_panel .links_area {
    color: #999;
    text-align: center;
}

.other_panel .login_type_link a {
    color: #ff6700;
    height: auto;
    line-height: normal;
}

.other_panel .links_area a {
    color: #999;
}

.other_panel .links_area a:hover {
    color: #ff6700;
}

#sns-login-links {
    margin-top: 10px;
}

.other_login_type {
    padding-top: 40px;
    text-align: center;
    color: #bbb;
    font-size: 14px;
}

.icon_type {
    width: 30px;
    height: 30px;
    margin: 0 17px;
    display: inline-block;
    border-radius: 50%;
}

.icon_type .btn_sns_icontype {
    display: block;
    margin: 4px auto 0;
}

.btn_sns_icontype {
    background: url(../image/login/icons_type.png);
    width: 18px;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* qq */
.btn_qq {
    background-color: #0288d1;
}

.icon_default_qq {
    background-position: -19px 0;
}

/* weibo */
.btn_weibo {
    background-color: #d32f2f;
}

.icon_default_weibo {
    background-position: -38px 0;
}

/* alipay */
.btn_alipay {
    background-color: #0ae;
}

.icon_default_alipay {
    background-position: -57px 0;
    width: 25px;
}

/* weixin */
.btn_weixin {
    background-color: #00d20d;
}

.icon_default_weixin {
    background-position: -83px 0;
    width: 24px;
}

/* 底部 */
.footer-wrap {
    background-color: #fff;
    padding-top: 26px;
    height: 100px;
    text-align: center;
}

.footer-wrap .lang-select-list li {
    display: inline-block;
}

.lang-select-list a {
    display: inline-block;
    padding: 0 10px;
}

.lang-select-list a:hover,
.lang-select-list a.current {
    color: #333;
}

.footer-intro {
    padding: 10px;
    color: #757575;
}

/* 扫码登录 */
.loginbox .ercode_pannel {
    width: 410px;
    height: 475px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.ercode_pannel .ercode_box {
    position: static;
    left: 50%;
    top: 50%;
}

.ercode_box .code_iframe {
    width: 302px;
    height: 180px;
    background-image: url(../image/login/iframe.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.custom_sub_txt {
    padding-top: 14px;
    font-size: 14px;
    display: block;
    text-align: center;
    color: #757575;
}

.custom_sub_txt span {
    padding: 0 5px;
    color: #ff6700;
}


/*.body {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.mainbox {*/
/*    margin: auto;*/
/*    margin-top: 100px;*/
/*    width: 600px;*/
/*    height: 500px;*/
/*    border: 1px solid black;*/
/*    background-color: rgba(255, 255, 255, 0.5);*/

/*}*/

/*.mainbox .boxTop {*/
/*    height: 27%;*/
/*    width: 100%;*/
/*    background: #FF7777;*/
/*    !* border: 1px solid black; *!*/
/*}*/

/*.mainbox .boxBottom {*/
/*    height: 73%;*/
/*    width: 100%;*/
/*    !* border: 1px solid black; *!*/
/*}*/

/*.mainbox .boxBottom .content {*/
/*    margin-top: 6%;*/
/*    margin-left: 75px;*/
/*    width: 72%;*/
/*    height: 50px;*/
/*    !* border:1px solid black; *!*/
/*    !* display: flex; *!*/
/*}*/

/*.mainbox .boxBottom .content .together {*/
/*    height: 50px;*/
/*    width: 100%;*/
/*    border: 2px solid black;*/
/*    border-radius: 10px;*/
/*    display: flex;*/
/*}*/

/*.mainbox .boxBottom .content .together .front {*/
/*    padding-top: 10px;*/
/*    text-align: center;*/
/*    width: 35%;*/
/*    height: 50px;*/
/*    font-size: 23px;*/
/*    background-color: rgba(0, 0, 0, 0);*/
/*    !* border:1px solid black; *!*/
/*}*/

/*.mainbox .boxBottom .content .together .middle {*/
/*    margin-top: 3px;*/
/*    width: 65%;*/
/*    height: 40px;*/
/*    font-size: 20px;*/
/*    text-align: center;*/
/*    border: 1px solid transparent;*/
/*    background: transparent;*/
/*}*/

/*.mainbox .boxBottom .content .back {*/
/*    margin-top: 5px;*/
/*    margin-left: 3px;*/
/*    width: 80%;*/
/*    height: 20px;*/
/*    !* border:1px solid black;  *!*/
/*}*/


/*.button {*/
/*    margin-left: 150px;*/
/*    margin-top: 10px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    cursor: pointer;*/
/*    font-size: 25px;*/
/*    letter-spacing: 4px;*/
/*    position: relative;*/
/*    background-color: #16a085;*/
/*    border: none;*/
/*    color: #fff;*/
/*    padding: 10px;*/
/*    width: 300px;*/
/*    height: 50px;*/
/*    text-align: center;*/
/*    transition-duration: 0.4s;*/
/*    overflow: hidden;*/
/*    float: left;*/
/*    !* box-shadow: 0 5px 15px #193047;*/
/*    border-radius: 4px; *!*/
/*}*/

/*.button:hover {*/
/*    background: #fff;*/
/*    box-shadow: 0px 2px 10px 5px #1abc9c;*/
/*    color: #000;*/
/*}*/

/*.button:after {*/
/*    content: "";*/
/*    background: #1abc9c;*/
/*    display: block;*/
/*    position: absolute;*/
/*    padding-top: 300%;*/
/*    padding-left: 350%;*/
/*    margin-left: -20px !important;*/
/*    margin-top: -120%;*/
/*    opacity: 0;*/
/*    transition: all 0.8s*/
/*}*/

/*.button:active:after {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    opacity: 1;*/
/*    transition: 0s*/
/*}*/

/*.button:focus {*/
/*    outline: 0;*/
/*}*/

/*h1 {*/
/*    margin-top: 0px;*/
/*    height: 90%;*/
/*    !* background: #FF7777; *!*/
/*    padding-top: 10px;*/
/*    text-align: center;*/
/*}*/

/*h1 span {*/
/*    padding-left: 25px;*/
/*    position: relative;*/
/*    top: 20px;*/
/*    display: inline-block;*/
/*    animation: bounce .3s ease infinite alternate;*/
/*    font-family: 'Titan One', cursive;*/
/*    font-size: 80px;*/
/*    color: #FFF;*/
/*    text-shadow: 0 1px 0 #CCC,*/
/*    0 2px 0 #CCC,*/
/*    0 3px 0 #CCC,*/
/*    0 4px 0 #CCC,*/
/*    0 5px 0 #CCC,*/
/*    0 6px 0 transparent,*/
/*    0 7px 0 transparent,*/
/*    0 8px 0 transparent,*/
/*    0 9px 0 transparent,*/
/*    0 10px 10px rgba(0, 0, 0, .4);*/
/*}*/

/*h1 span:nth-child(2) {*/
/*    animation-delay: .1s;*/
/*}*/

/*h1 span:nth-child(3) {*/
/*    animation-delay: .2s;*/
/*}*/

/*h1 span:nth-child(4) {*/
/*    animation-delay: .3s;*/
/*}*/

/*h1 span:nth-child(5) {*/
/*    animation-delay: .4s;*/
/*}*/

/*h1 span:nth-child(6) {*/
/*    animation-delay: .5s;*/
/*}*/

/*h1 span:nth-child(7) {*/
/*    animation-delay: .6s;*/
/*}*/

/*h1 span:nth-child(8) {*/
/*    animation-delay: .7s;*/
/*}*/

/*@keyframes bounce {*/
/*    100% {*/
/*        top: -20px;*/
/*        text-shadow: 0 1px 0 #CCC,*/
/*        0 2px 0 #CCC,*/
/*        0 3px 0 #CCC,*/
/*        0 4px 0 #CCC,*/
/*        0 5px 0 #CCC,*/
/*        0 6px 0 #CCC,*/
/*        0 7px 0 #CCC,*/
/*        0 8px 0 #CCC,*/
/*        0 9px 0 #CCC,*/
/*        0 50px 25px rgba(0, 0, 0, .2);*/
/*    }*/
/*}*/