/* 重置页面 */
@import url("reset.css");

body {
    font: 14px "Arial", "华文细黑";
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

/* header头部start */
/* 顶部导航栏start */
.site-topbar {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    line-height: 40px;
}

.site-topbar .sep {
    margin: 0 3.6px;
    color: #424242;
}

.site-topbar a {
    color: #b0b0b0;
    display: inline-block;
    vertical-align: middle;
}

.site-topbar a:hover {
    color: #fff;
}

/* 左边导航栏 */
.topbar-nav {
    display: inline-block;
}

.site-topbar .topbar-info a {
    text-align: center;
}

/* 下载app */
.site-topbar .appcode {
    position: absolute;
    top: 40px;
    left: 47%;
    width: 124px;
    height: 0;
    background: #fff;
    margin-left: -55px;
    -webkit-box-shadow: #aaa 0 1px 5px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.site-topbar .appcode img {
    display: block;
    margin: 18px auto 12px;
}

/* 购物车 */
.site-topbar .topbar-cart {
    position: relative;
    float: right;
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: #424242;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-size: 12px;
}

/* 购物车图标 */
.topbar-cart em {
    width: 20px;
    height: 20px;
    margin: auto;
    display: inline-block;
    vertical-align: -6px;
    background-image: url(../image/header/cart.png);
    background-size: 20px;
}

.topbar-cart:hover {
    background-color: #fff;
}

.topbar-cart:hover em {
    background-image: url(../image/header/cart_hover.png);
}

.topbar-cart:hover a {
    color: #ff6700;
}

.top-cart {
    padding-left: 18px;
}

/* 购物车隐藏的东东 */
.site-topbar .cart-menu {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 31;
    width: 316px;
    height: 0;
    color: #424242;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
    text-align: center;
    line-height: 100px;
    font-size: 12px;
}

/* 登录注册 */
.site-topbar .topbar-info {
    display: block;
    position: relative;
    float: right;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
}

/* 登录后的登录注册 */
/*#J_siteUserInfo {*/
/*    display: none;*/
/*}*/

/*.site-topbar .user {*/
/*    position: relative;*/
/*    width: 110px;*/
/*    padding: 0;*/
/*    color: #424242;*/
/*    white-space: nowrap;*/
/*}*/

/*.site-topbar .user:hover .user-menu-wrapper {*/
/*    height: 164px;*/
/*}*/

/*.site-topbar .user:hover .user-menu-wrapper a {*/
/*    color: #424242;*/
/*}*/

/*.site-topbar .user:hover .user-menu-wrapper a:hover {*/
/*    color: #FF6700;*/
/*    background-color: #F5F5F5;*/
/*}*/

/*.site-topbar .user:hover .user-name {*/
/*    background-color: #FFF;*/
/*    color: #424242;*/
/*}*/

/*.site-topbar .user:hover .user-name:hover {*/
/*    color: #FF6700;*/
/*}*/

/*.site-topbar .user-name {*/
/*    position: relative;*/
/*    z-index: 5;*/
/*    display: inline-block;*/
/*    width: 110px;*/
/*    height: 40px;*/
/*    text-align: center;*/
/*}*/

/*.site-topbar .user-name .name {*/
/*    display: inline-block;*/
/*    width: auto;*/
/*    max-width: 75px;*/
/*    text-overflow: ellipsis;*/
/*    vertical-align: text-bottom;*/
/*    overflow: hidden;*/
/*}*/

/*.site-topbar .user-name i {*/
/*    width: 25px;*/
/*    height: 24px;*/
/*    display: inline-block;*/
/*    line-height: 24px;*/
/*    vertical-align: 14px;*/
/*}*/

/*.site-topbar .user-menu-wrapper {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 28px;*/
/*    z-index: 3;*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    transition: height .3s;*/
/*    background: #fff;*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);*/
/*}*/

/*.site-topbar .user-menu {*/
/*    width: 110px;*/
/*    padding: 7px 0;*/
/*    list-style-type: none;*/
/*}*/

/*.site-topbar .user-menu a {*/
/*    display: block;*/
/*    padding: 3px 30px;*/
/*    transition: all .2s;*/
/*    line-height: 2;*/
/*}*/

/* 顶部导航栏end */

/* 头部导航栏start */
/* 小米logo */
.header-logo {
    width: 234px;
    height: 55px;
    float: left;
    background-color: #FF6700;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
}

.header-logo ul {
    position: absolute;
    width: 468px;
    left: -234px;
    top: 0;
    cursor: pointer;
    -webkit-transition: left .3s;
    transition: left .2s;
}

.header-logo:hover ul {
    left: 0;
}

.header-logo ul li {
    width: 234px;
    height: 55px;
    float: left;
    background-color: #FF6700;
    background-position: 50% 50%;
}

.header-logo ul li a {
    width: 234px;
    height: 55px;
    display: block;
}

.header-logo li:nth-of-type(1) {
    background-color: #3385ff;
    background-image: url(../image/header/logo.png);
}

.header-logo li:nth-of-type(2) {
    background-image: url(../image/header/logo.png);
}

/* 导航栏 */
.site-header .header-nav {
    float: left;
    height: 100px;
    padding-top: 12px;
    /*margin-left: 185px;*/
}

.header-nav .nav-item {
    float: left;
}

.header-nav .nav-item a {
    display: block;
    padding: 26px 40px 32px;
    font-size: 20px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
}

/* 隐藏部分 */
.nav-item .item-children {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    font-size: 12px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
    z-index: 31;
}

.nav-item .item-children .children-list li {
    float: left;
    width: 201px;
    padding-top: 10px;
    text-align: center;
    position: relative;
}

/* 分割线 */
.nav-item .item-children .children-list li:before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #E0E0E0;
}

.nav-item .item-children .children-list li:first-child:before {
    width: 0;
}

/* 图片 */
.nav-item .item-children .children-list .figure-thumb {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}

/* 标题 */
.nav-item .item-children .children-list li a .title {
    line-height: 20px;
    font-size: 12px;
    color: #333333;
}

/* 价格 */
.nav-item .item-children .children-list li a .price {
    line-height: 20px;
    font-size: 12px;
    color: #FF6700;
}

/* 搜索 */
.site-header .header-search {
    float: right;
    width: 296px;
    position: relative;
}

.site-header .search-btn,
.site-header .search-text {
    position: absolute;
    top: 25px;
    border: 1px solid #e0e0e0;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.header-search .search-text {
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 50px;
}

/* 搜索按钮 */
.header-search .search-btn {
    right: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background-color: #fff;
    color: #616161;
    background-image: url(../image/header/search.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 23px;
    cursor: pointer;
}

.header-search .search-btn:hover {
    background-color: #ff6700;
}

/* 搜索文本款上面的超链接 */
.header-search .search-hot-words {
    position: absolute;
    top: 39px;
    right: 62px;
    z-index: 2;
    text-align: right;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.header-search .search-hot-words a {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    background-color: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.header-search .search-hot-words a:hover {
    background-color: #ff6700;
    color: #fff;
}

/* 搜索隐藏 */
.header-search .keyword-list {
    position: absolute;
    right: 51px;
    top: 75px;
    z-index: 20;
    width: 245px;
    border: 1px solid #ff6700;
    border-top: 0;
    background-color: #fff;
    display: block;
}

.header-search .keyword-list li a {
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}

.header-search .keyword-list li a:hover {
    background-color: #eee;
}

/* 头部导航栏end */
/* header头部end */
/* ------------------------------------------------------------------- */
/* section主体内容start */
/* 主体内容的头部start */
.home-container {
    background-color: #FFFFFF;
    margin-bottom: 26px;
}

.swiper-wrapper {
    width: 1226px;
    height: 460px;
    overflow: hidden;
    position: relative;
}

/* 图片上面的二级菜单 */
.swiper-wrapper .swiper-category-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    padding: 20px 0;
    width: 234px;
    height: 460px;
    font-size: 20px;
    border: 0;
    color: #fff;
    background: #333;
}

.swiper-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-top: 20px;
    height: 85px;
    line-height: 42px;
    color: #fff;
}

.swiper-category-list .title:hover {
    background-color: #FF6700;
}

.swiper-category-list .title em {
    position: absolute;

    top: 32px;
    right: 20px;
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../image/section/header/arrow-right-big.png);
}

.swiper-category-list .children {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 460px;
    width: 1000px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
}

.site-category-list .children-list {
    width: 1000px;
}

.children .children-list li {
    float: left;
    width: 496px;
    height: 130px;
}

.children .children-list .link {
    display: block;
    width: 496px;
    height: 130px;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.children .children-list img {
    float: left;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.small-img {
    width: 120px;
    height: 100px;
}

.children .children-list .text {
    float: left;
    display: inline-block;
    width: 172px;
    padding-top: 22px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.category_img {
    display: block;
    width: 992px;
    height: 460px;
}

/* 轮播图片 */
.swiper-wrapper .swiper-list {
    width: 6130px;
}

.swiper-wrapper .swiper-list li {
    float: left;
}

.swiper-wrapper .swiper-list img {
    display: block;
    width: 992px;
    height: 460px;
    margin-left: 234px;
}

/* 分页按钮 */
.swiper-wrapper .swiper-pagination {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.swiper-wrapper .swiper-pagination li {
    float: left;
    margin: 0 4px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-color: hsla(0, 0%, 100%, .3);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
    opacity: 1;
    cursor: pointer;
}

.swiper-wrapper .swiper-pagination .active,
.swiper-wrapper .swiper-pagination li:hover {
    background: hsla(0, 0%, 100%, .4);
    border-color: rgba(0, 0, 0, .4);
}

/* 按钮 */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    z-index: 10;
    cursor: pointer;
    outline: none;
    background-image: url(../image/section/header/icon-slides.png);
}

.swiper-button-prev {
    left: 234px;
    background-position-x: 68%;
}

.swiper-button-prev:hover {
    background-position-x: 0;
}

.swiper-button-next {
    right: 0;
    background-position-x: 100%;
}

.swiper-button-next:hover {
    background-position-x: 34%;
}

/* 主体头部的下面部分 */
.home-hero-sub {
    margin-top: 14px;
}

.home-hero-sub .home-channel-list {
    float: left;
    width: 234px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}

.home-hero-sub .home-channel-list li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}

.home-hero-sub .home-channel-list li:before,
.home-hero-sub .home-channel-list li:after {
    position: absolute;
    content: "";
    background: #665e57;
}

.home-hero-sub .home-channel-list li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.home-hero-sub .home-channel-list li:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}

.home-hero-sub .home-channel-list a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    color: #fff;
    opacity: .7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.home-hero-sub .home-channel-list a:hover {
    opacity: 1;
}

.home-hero-sub .home-channel-list img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.home-hero-sub .home-promo-list {
    float: right;
}

.home-hero-sub .home-promo-list li {
    float: left;
    margin-left: 15px;
    -webkit-transition: all .2s linear;
}

.home-hero-sub .home-promo-list li:hover {
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.home-hero-sub .home-promo-list li:first-child {
    margin-left: 0;
}

.home-hero-sub .home-promo-list img {
    width: 316px;
    height: 170px;
}

/* 主体内容的头部end */

/* 主体内容的分页部分start */
.page-main {
    padding-top: 4px;
    padding-bottom: 12px;
    background: #f5f5f5;
}

/* 分割图 */
.home-banner-box {
    height: 120px;
    margin: 24px 0 22px;
    overflow: hidden;
}

.home-banner-box img {
    width: 1226px;
    height: 120px;
}

/* .mian共同部分start */
/* 标题 */
.main .box-hd {
    position: relative;
}

/* 标题h2 */
.main .box-hd h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.main .box-hd .more2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
}

/* 查看全部 */
.main .box-hd .more2 .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.main .box-hd .more2 .more-link i {
    position: absolute;
    top: 19px;
    right: 0;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../image/section/main/left.png);
    background-size: 20px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.main .box-hd .more2 .more-link:hover {
    color: #FF6700;
}

.main .box-hd .more2 .more-link:hover i {
    background-image: url(../image/section/main/lefthover.png);
}

/* 标题的ul */
.main .box-hd .more5 {
    position: absolute;
    top: 0;
    right: 0;
}

.main .box-hd .more5 .tab-list {
    padding: 16px 0 0;
    font-size: 16px;
}

.main .box-hd .more5 .tab-list li {
    display: inline-block;
    color: #424242;
    margin: 0 0 0 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    -webkit-transition: border .3s;
    transition: border .3s;
    cursor: pointer;
}

.main .box-hd .more5 .tab-list .tab-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

/* ul内容展示 */
.main .box-content {
    position: relative;
}

.main .box-content img {
    width: 234px;
    height: 614px;
    display: block;
}

.box-content .left {
    float: left;
    width: 234px;
}

.box-content .left a {
    display: block;
    width: 100%;
    height: 100%;
}

.box-content .brick-item {
    -webkit-transition: all .2s linear;
    z-index: 100;
    margin-bottom: 14px;
}

.box-content .brick-item:hover {
    z-index: 200;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
}

/* 右边 */
.box-content .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 992px;
    float: right;
    display: none;
}

.box-content .right a {
    display: block;
    width: 100%;
    height: 100%;
}

.right .brick-item-m {
    float: left;
    width: 234px;
    padding: 19px 0;
    margin-left: 14px;
    background-color: #fff;
}

.right .brick-item-m .figure-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
}

.right .brick-item-m .figure-img img {
    width: 160px;
    height: 160px;
}

.brick-item-m .desc,
.brick-item-m .title {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.brick-item-m .title {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.brick-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}

.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
    margin: 0 10px 12px;
}

.brick-item-m .price del {
    margin-left: .5em;
    color: #b0b0b0;
}

.right .brick-item-m2 {
    padding-top: 50px;
    height: 144px;
    position: relative;
}

.right .brick-item-m2 img {
    width: 80px;
    height: 80px;
}

.right .brick-item-m2 .figure {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}

.right .brick-item-m2 .title {
    margin: -10px 110px 5px 30px;
    white-space: normal;
    text-align: left;
    width: 90px;
    font-size: 14px;
    font-weight: 400;
}

.right .brick-item-m2 .price {
    margin: 0 110px 0 30px;
    font-size: 14px;
    text-align: left;
    color: #ff6700;
}

.right .brick-item-m2 .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}

.right .brick-item-m2 i {
    position: absolute;
    right: 35px;
    display: block;
    width: 48px;
    height: 48px;
    background: #333333;
}

.right .brick-item-m2 .more small {
    display: block;
    font-size: 12px;
    color: #757575;
}

/* .mian共同部分end */
/* 小米闪购 */
.swiper-controls {
    position: absolute;
    right: 0;
    top: 24px;
}

.swiper-controls .swiper-flashsale-next,
.swiper-controls .swiper-flashsale-prev {
    display: inline-block;
    width: 36px;
    height: 24px;
    padding: 3px 5px;
    margin-left: -1px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #b0b0b0;
    text-align: center;
    cursor: pointer;
}

.flashsale-countdown {
    float: left;
    height: 340px;
    width: 234px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
}

.flashsale-countdown .round {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}

.box-content .flashsale-countdown img {
    width: 34px;
    height: 53px;
    margin: 25px auto;
}

.box-content .flashsale-countdown .desc {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.box-content .flashsale-countdown .countdown {
    width: 168px;
    margin: 28px auto 0;
}

.box-content .flashsale-countdown .countdown span {
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}

.box-content .flashsale-countdown .countdown i {
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}

.box-content .flashsale-list {
    float: right;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 978px;
}

.box-content .flashsale-list ul {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

.box-content .flashsale-list li {
    width: 234px;
    height: 340px;
    margin-right: 14px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: rgba(85, 26, 139, .02);
    -webkit-transition: all .6s;
    transition: all .6s;
    position: relative;
    flex-shrink: 0;
}

.box-content .flashsale-list li a {
    display: block;
    height: 300px;
    padding-top: 39px;
    position: relative;
}

.box-content .flashsale-list .thumb {
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}

.box-content .flashsale-list .thumb img {
    height: 160px;
    width: 160px;
}

.box-content .flashsale-list .title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}

.box-content .flashsale-list .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.box-content .flashsale-list .price {
    color: #ff6709;
}

.box-content .flashsale-list .price del {
    color: #b0b0b0;
}

.box-content .rainbow-item-1 {
    border-top-color: #ffac13;
}

.box-content .rainbow-item-2 {
    border-top-color: #83c44e;
}

.box-content .rainbow-item-3 {
    border-top-color: #2196f3;
}

.box-content .rainbow-item-4 {
    border-top-color: #e53935;
}

.box-content .rainbow-item-5 {
    border-top-color: #00c0a5;
}

.box-content .rainbow-item-6 {
    border-top-color: #ffac13;
}

.box-content .rainbow-item-7 {
    border-top-color: #83c44e;
}

.box-content .rainbow-item-8 {
    border-top-color: #2196f3;
}

.box-content .rainbow-item-9 {
    border-top-color: #e53935;
}

.box-content .rainbow-item-10 {
    border-top-color: #00c0a5;
}

.box-content .rainbow-item-11 {
    border-top-color: #ffac13;
}

.box-content .rainbow-item-12 {
    border-top-color: #83c44e;
}

.box-content .rainbow-item-13 {
    border-top-color: #2196f3;
}

.box-content .rainbow-item-14 {
    border-top-color: #e53935;
}

.box-content .rainbow-item-15 {
    border-top-color: #00c0a5;
}

.box-content .rainbow-item-16 {
    border-top-color: #ffac13;
}

/* 视频 */
.box-content .video-list {
    width: 1240px;
    height: 285px;
    margin-bottom: 12px;
}

.box-content .video-item {
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
}

.box-content .video-item:first-child {
    margin-left: 0;
}

.box-content .video-item .figure-img {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}

.box-content .video-item .figure-img img {
    width: 296px;
    height: 180px;
}

.box-content .video-item .play {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 36px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
    overflow: hidden;
    background-image: url(../image/section/mian8/play.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
}

.box-content .video-item .play:hover {
    background-color: #FF6700;
    border-color: #FF6700;
}

.box-content .video-item .title {
    margin: 0 14px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-content .video-item .desc {
    height: 18px;
    margin: 0 14px;
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 视频的遮阴层 */
.mi-popup-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    display: none;
}

.mi-popup-mask .video {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    width: 886px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.video .mi-dialog__header {
    height: 60px;
    border-radius: 10px;
    padding: 14px 20px;
    line-height: 32px;
    background-color: #f5f5f5;
}

.video .mi-dialog__header .mi-dialog__title {
    font-size: 18px;
    font-weight: 400;
    color: #424242;
    vertical-align: middle;
}

.video video {
    display: block;
    width: 100%;
    height: 100%;
}

.video .mi-dialog__headerbtn {
    position: absolute;
    right: 14px;
    top: 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #757575;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
    background-color: #212121;
}

.video .mi-video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    cursor: pointer;
    z-index: 2;
    background: url(../image/section/mian8/big_play_btn.png) no-repeat;
    display: none;
}

/* 主体内容的分页部分end */
/* section主体内容end */
/* ------------------------------------------------------------------- */
/* 页脚start */
.site-footer {
    background-color: #fff;
}

.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.site-footer .list-service li:first-child {
    border-left: 0;
}

.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    padding-left: 30px;
    text-align: center;
    position: relative;
}

.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.site-footer .list-service em {
    position: absolute;
    top: 0;
    width: 24px;
    height: 25px;
    display: block;
    background-size: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.site-footer .list-service .em1 {
    left: 58px;
    background-size: 30px;
    background-image: url(../image/footer/维修.png);
}

.site-footer .list-service .em2 {
    left: 54px;
    background-image: url(../image/footer/7天.png);
}

.site-footer .list-service .em3 {
    left: 59px;
    background-image: url(../image/footer/15天.png);
}

.site-footer .list-service .em4 {
    left: 65px;
    background-image: url(../image/footer/礼物.png);
}

.site-footer .list-service .em5 {
    left: 48px;
    background-image: url(../image/footer/定位.png);
}

.site-footer .footer-links {
    padding: 40px 0;
}

.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}

.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.site-footer .footer-links .col-links dd a:hover {
    color: #FF6700;
}

.site-footer .footer-links .col-links a {
    color: #757575;
}

.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.site-footer .footer-links .col-contact .phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.site-footer .footer-links .col-contact p {
    margin: 0 0 16px;
    font-size: 12px;
}

.col-contact .btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}

.btn-small {
    width: 118px;
    height: 30px;
    font-size: 12px;
    line-height: 28px;
}

.btn {
    display: inline-block;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn:hover {
    border-color: #FF6700;
    background-color: #FF6700;
    color: #fff;
}

/* 声明信息 */
.site-info {
    padding: 30px 0;
    font-size: 12px;
    background-color: #fafafa;
}

.site-info .container {
    position: relative;
}

.site-info .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../image/footer/logo-footer.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}

.site-info .info-text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}

.site-info .info-text .sites a {
    color: #757575;
}

.site-info .info-text .sites a:hover {
    color: #ff6700;
}

.site-info .info-text a {
    color: #b0b0b0;
}

.site-info .info-text a:hover {
    color: #ff6700;
}

.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
    margin-bottom: 15px;
}

.site-info .info-links {
    height: 28px;
    margin: 4px 0 0;
    padding-left: 67px;
}

.site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../image/footer/slogan2016.png) no-repeat center 0;
}

/* 页脚end */

/*--------------------小米商城div_home--------------------*/

.div_home {
    width: 27px;
    height: 261px;
    position: fixed;
    right: 34px;
    bottom: 66px;
}

.div_home a {
    width: 27px;
    height: 42px;
    display: block;
    text-align: center;
    border: 1px solid #F5F5F5;
    border-style: none none solid solid;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 3px 10px;
    position: relative;
}

.div_home a span {
    position: absolute;
    right: 40px;
    top: 5px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    padding: 0 8px;
    background-color: #FFFFFF;
    color: #757575;
    font-size: 14px;
    z-index: 1000;
    display: none;
}

.div_home a:hover span {
    display: block;
}

.home1 {
    background-image: url(../image/fixed/xm11.png);
}

.home1:hover {
    background-image: url(../image/fixed/xm1.png);
}

.home2 {
    background-image: url(../image/fixed/xm22.png);
}

.home2:hover {
    background-image: url(../image/fixed/xm2.png);
}

.home3 {
    background-image: url(../image/fixed/xm33.png);
}

.home3:hover {
    background-image: url(../image/fixed/xm3.png);
}

.home4 {
    background-image: url(../image/fixed/xm44.png);
}

.home4:hover {
    background-image: url(../image/fixed/xm4.png);
}

.home5 {
    background-image: url(../image/fixed/xm55.png);
}

.home5:hover {
    background-image: url(../image/fixed/xm5.png);
}

.div_home .img_yincang {
    /*display: none;*/
    background-image: url(../image/fixed/xm66.png);
}

.img_yincang:hover {
    background-image: url(../image/fixed/xm6.png);
}
